# note: files listed in this file:
#       - will be added to the sdist
#       - but won't be added to the wheel (unless by other means)

graft libsecp256k1/
prune libsecp256k1/ci/
prune libsecp256k1/.github/
global-exclude .*
